version: "3.9"

services:
  backend:
    image: codecrafterx/backend-ci:latest
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./frontend-ci/dist:/usr/share/nginx/html   # <-- use correct folder name
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
